Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

feat(npm): implement comprehensive npm publishing configuration
  .github/workflows/release.yml
  docs/npm-package-availability.md
  packages/error-management/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
  scripts/test-publish-dry-run.ts
Due: ultracite, prettier

fix: apply syncpack formatting to hooks-registry package.json
  packages/hooks-registry/package.json
Due: prettier

feat: setup npm publishing configuration (#91)
  .agents/recaps/20250810-repo-recap.md
  .agents/recaps/20250811-repo-recap.md
  .agents/recaps/20250812-repo-recap.md
  .agents/recaps/20250813-repo-recap.md
  .agents/recaps/20250814-repo-recap.md
  .agents/recaps/20250815-repo-recap.md
  .agents/recaps/20250816-repo-recap.md
  .agents/recaps/README.md
  .agents/recaps/WEEKLY-SUMMARY-2025-W33.md
  .changeset/config.json
  .github/workflows/release.yml
  README.md
  docs/npm-package-availability.md
  packages/error-management/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
  scripts/test-publish-dry-run.ts
Due: ultracite, prettier

docs: add Hello World tutorial and fix Grapple references
  README.md
  docs/QUICKSTART.md
  docs/hello-world.md
  packages/examples/src/hello-world.ts
  packages/examples/src/simple-hello-world-test.ts
  packages/examples/src/test-hello-world.ts
Due: ultracite, prettier

fix: allow console output in examples package
  biome.json
  packages/examples/src/simple-hello-world-test.ts
Due: ultracite

chore: clean up simple hello world example
  packages/examples/src/simple-hello-world-test.ts
Due: ultracite

fix: allow console output in examples package (#92)
  biome.json
  packages/examples/src/simple-hello-world-test.ts
Due: ultracite

feat: integrate claude code sdk for type-safe hooks
  README.md
  bun.lock
  packages/examples/src/hello-world-sdk.ts
  packages/hooks-core/package.json
  packages/hooks-core/src/builder.ts.backup
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/registry.ts.backup
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
Due: ultracite, prettier

fix: implement PR review feedback for claude code sdk integration
  packages/hooks-core/src/__tests__/builder.test.ts.disabled
  packages/hooks-core/src/__tests__/registry.test.ts.disabled
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts.disabled
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
Due: ultracite

fix: address context.toolInput undefined type errors in hooks-validators
  packages/hooks-validators/src/security.ts
Due: ultracite

fix: restore builder/registry APIs and fix all tests for SDK integration
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/registry.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/registry.ts
  packages/hooks-testing/src/index.ts
  packages/hooks-testing/src/mock.ts
  packages/hooks-testing/src/test-framework.ts
Due: ultracite

fix: temporarily disable examples tests pending SDK migration
  packages/examples/package.json
  packages/examples/src/testing/hook-tests.test.ts
Due: ultracite, prettier

docs: outline hook adapter architecture plan
  .agents/notes/20250917-hook-adapter-tracking.md
  .agents/notes/hook-adapter-architecture.md
  AGENTS.md
  CLAUDE.md
Due: prettier

docs: outline provider adapter architecture
  docs/provider-adapter-architecture.md
Due: prettier

feat: add provider adapter scaffolding
  .agents/notes/20250917-hook-adapter-tracking.md
  packages/hooks-core/providers/README.md
  packages/hooks-core/src/__tests__/__snapshots__/adapter.test.ts.snap
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/providers/claude-adapter.ts
  packages/hooks-core/src/providers/index.ts
  packages/hooks-core/src/providers/registry.ts
  packages/hooks-core/src/providers/types.ts
Due: ultracite, prettier

fix: address PR feedback - fix timeout promise handling and TypeScript errors
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/providers/claude-adapter.ts
Due: ultracite

docs: fix provider adapter handoff link
  docs/provider-adapter-architecture.md
Due: prettier

docs: address CodeRabbit review feedback on architecture documentation
  docs/provider-adapter-architecture.md
Due: prettier

docs: add provider adapter architecture documentation (#96)
  docs/provider-adapter-architecture.md
Due: prettier

fix: make hook tests handle both raw and normalized input formats
  packages/examples/src/builder-pattern/security-hooks.ts
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/hooks-core/src/runtime.ts
Due: ultracite

fix: update test expectations to match new HookResult format
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
Due: ultracite

fix: clear hook timeout in finally block
  packages/hooks-core/src/builder.ts
Due: ultracite

fix: add dangerous system command validation to pre-tool-use example
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
Due: ultracite
