Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

chore(deps): update ultracite to latest version
  bun.lock
  package.json
Due: none

chore(deps): update ultracite to latest version (#52)
  bun.lock
  package.json
Due: none

chore: add claude code dispatch workflow configuration
  .github/workflows/claude-dispatch.yml
Due: prettier

fix: rename all claude-hooks references to carabiner (fixes #38)
  .github/workflows/build-binaries.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/release.yml
  README.md
  biome.json
  docs/README.md
  docs/binary-distribution.md
  docs/cli-reference.md
  docs/configuration.md
  docs/getting-started.md
  docs/guides/getting-started.md
  docs/migration-guides.md
  docs/plans/claude-code-hooks-typescript-library.md
  docs/troubleshooting.md
  package.json
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/src/mock.ts
  packages/plugins/src/audit-logger/index.ts
  scripts/build-binary.ts
  scripts/install.sh
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: apply additional formatting fixes to packages and configs
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-core/src/builder.ts
Due: ultracite

chore: add .conductor/ to .gitignore for monorepo workspace
  .gitignore
Due: none

fix(ci): correct package name in build-binaries.yml and update labeler.yml with all packages
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  bun.lock
  package.json
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/execution/package.json
  packages/registry/tsconfig.json
Due: ultracite, prettier

fix: revert to @outfitter/hooks-cli in build-binaries (blocked by #68)
  .github/workflows/build-binaries.yml
Due: prettier

fix: update workflow references from @outfitter to @carabiner
  .github/workflows/build-binaries.yml
  .github/workflows/release.yml
Due: prettier

fix(ci): add bash shell declaration for Windows compatibility in build-binaries
  .github/workflows/build-binaries.yml
Due: prettier

fix(ci): resolve test failures and bundle size analysis issues
  .github/workflows/pr-optimized.yml
Due: prettier

chore(ci): standardize on `bunx run ultracite check/fix`; ignore `.conductor/`; ensure Biome respects .gitignore
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-tests.yml
  .gitignore
  biome.json
  package.json
Due: prettier

chore(ci): fix syncpack issues — align @types/node/type-fest/typescript and peer deps in hooks-registry; set ultracite to * in execution
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  bun.lock
  packages/execution/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

ci(build-binaries): ensure Verify CLI dependencies uses bash on Windows
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  packages/execution/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: address coderabbit security and code quality feedback
  packages/error-management/src/index.ts
  packages/error-management/src/reporting.ts
  packages/examples/src/function-based/post-tool-use.ts
Due: ultracite

ci: implement stack-aware CI to reduce false failures
  .github/workflows/pr-simplified.yml
  .github/workflows/stack-aware-ci.yml
  scripts/label-stack.sh
Due: prettier

style: apply prettier formatting to workflow files
  .github/workflows/pr-simplified.yml
  .github/workflows/stack-aware-ci.yml
Due: prettier

fix: core runtime and CLI improvements for v0.1
  packages/hooks-core/package.json
Due: prettier

feat: add example hooks and implementation patterns
  packages/examples/README.md
Due: prettier

ci: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite, prettier

fix(ci): correct package name in build-binaries.yml and update labeler.yml with all packages
  .github/labeler.yml
  .github/workflows/ci-optimized.yml
  bun.lock
  package.json
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/execution/package.json
  packages/registry/tsconfig.json
Due: ultracite, prettier

fix: update workflow references from @outfitter to @carabiner
  .github/workflows/release.yml
Due: prettier

feat: enhance plugin system architecture
  packages/plugins/README.md
  packages/plugins/package.json
Due: prettier

chore: prepare v0.1.0-alpha release - npm config and getting started docs
  GETTING-STARTED.md
  docs/binary-distribution.md
Due: prettier

test: establish comprehensive testing infrastructure
  packages/hooks-testing/package.json
Due: prettier

docs: comprehensive documentation update for v0.1 release
  docs/binary-distribution.md
Due: prettier

fix: correct ultracite command usage - remove unnecessary 'run'
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  package.json
Due: prettier

chore: update ultracite commands and ignore .conductor directory (#72)
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-tests.yml
  .gitignore
  .vscode/settings.json
  biome.json
  package.json
Due: prettier

fix: rename all claude-hooks references to carabiner (fixes #38)
  .github/workflows/build-binaries.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/release.yml
  README.md
  docs/README.md
  docs/binary-distribution.md
  docs/cli-reference.md
  docs/configuration.md
  docs/getting-started.md
  docs/guides/getting-started.md
  docs/migration-guides.md
  docs/plans/claude-code-hooks-typescript-library.md
  docs/troubleshooting.md
  package.json
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/src/mock.ts
  packages/plugins/src/audit-logger/index.ts
  scripts/build-binary.ts
  scripts/install.sh
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier
