Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

fix: implement all CodeRabbit review feedback
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  tests/production/production-scenarios.test.ts
Due: ultracite

refactor: improve pattern detection and defensive copying per CodeRabbit review
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

fix: resolve test failures when running through Turbo vs direct Bun
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

fix: resolve build errors in hooks-registry
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

feat: add comprehensive example hooks and fix linting issues
  biome.json
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
Due: ultracite

fix: enforce strict type safety without relaxing linting rules
  biome.json
Due: none

fix: address CodeRabbit feedback - improve type safety, error handling, and code quality
  packages/hooks-core/src/logging/factory.ts
Due: ultracite

fix: implement all CodeRabbit review feedback
  packages/hooks-core/src/logging/factory.ts
Due: ultracite

fix: improve buffer handling in markdown formatter error messages
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: improve markdown glob pattern matching per CodeRabbit feedback
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: resolve workspace validator path blocking issues in CI (Issue #22)
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

fix: critical issues in example hooks
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
Due: ultracite

docs: add Turbo removal impact analysis for MVP decision
  analyze_turbo_removal.md
Due: none

fix: correct context field access in auto-formatter and git-safety hooks
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite

fix: update test assertions to use data instead of metadata
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
Due: ultracite

fix: foundation fixes for example hooks and type safety
  .agent/handoff.md
  .mcp.json
  bun.lock
  packages/examples/package.json
  packages/examples/src/__tests__/bash-command-validator.test.ts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/README.md
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/tsconfig.json
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: resolve test failures when running through Turbo vs direct Bun
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

feat: add comprehensive example hooks for public release
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

docs: ensure all documentation is accurate and up-to-date
  README.md
  packages/error-management/README.md
  packages/examples/README.md
  packages/execution/README.md
  packages/hooks-cli/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-registry/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
  packages/plugins/README.md
  packages/registry/README.md
Due: prettier

chore: prepare v0.1.0-alpha release - npm config and getting started docs
  GETTING-STARTED.md
  package.json
  packages/error-management/package.json
  packages/examples/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schema-server/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: prettier

fix: rename all claude-hooks references to carabiner (fixes #38)
  .github/workflows/build-binaries.yml
  .github/workflows/comprehensive-tests.yml
  .github/workflows/release.yml
  README.md
  biome.json
  docs/README.md
  docs/binary-distribution.md
  docs/cli-reference.md
  docs/configuration.md
  docs/getting-started.md
  docs/guides/getting-started.md
  docs/migration-guides.md
  docs/plans/claude-code-hooks-typescript-library.md
  docs/troubleshooting.md
  package.json
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/src/mock.ts
  packages/plugins/src/audit-logger/index.ts
  scripts/build-binary.ts
  scripts/install.sh
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

chore: update lockfile after catalog mapping (#46)
  bun.lock
  package.json
Due: none

fix: resolve markdown-formatter linting errors and test failures (#47)
  .mcp.json
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/protocol/src/__tests__/stdin.test.ts
Due: ultracite, prettier
