Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

ultracite:
  run: bunx ultracite format {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

fix: rebuild protocol package to sync compiled JS with TypeScript source
  packages/execution/src/__tests__/executor.test.ts
Due: ultracite

test: ensure session contexts parse in fixtures
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/timeout.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/timeout.ts
  packages/protocol/src/protocols/test.ts
  tests/spec/execution-process.test.ts
  tests/spec/protocol-http.test.ts
Due: ultracite

test: fix compliance suite imports for hooks-core runtime
  tests/spec/claude-compliance.test.ts
Due: ultracite

style: apply formatting
  packages/protocol/src/protocols/test.ts
Due: ultracite

docs: align claude config examples with event keys
  examples/claude-code-hooks/basic-pretooluse.json
  examples/claude-code-hooks/mcp-integration.json
Due: prettier

docs: document custom logger factory override
  .agents/notes/logger-and-tests-plan.md
  docs/architecture.md
Due: prettier

style: apply formatting
  examples/claude-code-hooks/mcp-integration.json
  tests/fixtures/events/userpromptsubmit.json
Due: prettier

devx: run ultracite check on full tree during pre-push
  lefthook.yml
Due: none

devx: run lint command via lefthook
  .agents/notes/logger-and-tests-plan.md
  lefthook.yml
Due: prettier

docs: capture fixture progress
  .agents/notes/logger-and-tests-plan.md
  AGENTS.md
  packages/hooks-config/src/__tests__/multi-hook-config.test.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-config/src/config.ts
Due: ultracite, prettier

style: apply formatter to documentation
  bun.lock
  docs/why-carabiner-examples.md
  packages/execution/src/executor.ts
  packages/hooks-core/package.json
  packages/hooks-core/src/types.ts
  tests/integration/cross-package-integration.test.ts
Due: ultracite, prettier

fix: support readonly multi-edit inputs
  packages/hooks-validators/src/validation.ts
Due: ultracite

feat(types): expose Claude compliance result fields
  packages/types/src/events.ts
Due: ultracite

test: update claude adapter snapshot version
  packages/hooks-core/src/__tests__/__snapshots__/adapter.test.ts.snap
Due: none

fix: validate claude result fields and clean tool union
  packages/execution/src/executor.ts
  packages/hooks-core/src/types.ts
Due: ultracite

style: conform executor validation formatting
  packages/execution/src/executor.ts
Due: ultracite

chore: add CodeRabbit configuration
  .coderabbit.yaml
Due: none

chore: add CodeRabbit configuration (#143)
  .coderabbit.yaml
Due: none

docs: refresh Carabiner examples for v0.1 [CB-40] (#124)
  .agents/notes/claude-code-compliance-checklist.md
  .agents/notes/logger-and-tests-plan.md
  bun.lock
  docs/why-carabiner-examples.md
  packages/execution/src/executor.ts
  packages/hooks-core/package.json
  packages/hooks-core/src/__tests__/__snapshots__/adapter.test.ts.snap
  packages/hooks-core/src/types.ts
  packages/hooks-validators/src/validation.ts
  packages/plugins/src/security-scanner/index.ts
  packages/types/src/events.ts
  tests/integration/cross-package-integration.test.ts
Due: ultracite, prettier

chore: update docs to proper package naming
  docs/QUICKSTART.md
  docs/README.md
  docs/api-reference/README.md
  docs/architecture.md
  docs/cli-reference.md
  docs/configuration.md
  docs/examples/README.md
  docs/migration-guides.md
  docs/troubleshooting.md
  packages/error-management/README.md
  packages/execution/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
  packages/registry/README.md
Due: prettier

chore: rename docs to use carabiner package [CB-39] (#125)
  docs/QUICKSTART.md
  docs/README.md
  docs/api-reference/README.md
  docs/architecture.md
  docs/cli-reference.md
  docs/configuration.md
  docs/examples/README.md
  docs/migration-guides.md
  docs/troubleshooting.md
  packages/error-management/README.md
  packages/execution/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
  packages/registry/README.md
Due: prettier

refactor: ensure claude code sdk compliance
  .agents/tasks/20250924-claude-code-compliance.md
Due: prettier

refactor: document Claude Code compliance plan [CB-41] (#126)
  .agents/tasks/20250924-claude-code-compliance.md
Due: prettier

fix: record continue in execution metrics
  packages/execution/src/metrics.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/protocol/src/__tests__/test.test.ts
  packages/protocol/src/protocols/test.ts
Due: ultracite

fix(protocol): normalize legacy success fallback
  packages/execution/src/metrics.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/http.ts
  packages/protocol/src/protocols/stdin.ts
  packages/protocol/src/protocols/test.ts
  packages/protocol/src/protocols/utils.ts
Due: ultracite

fix: normalize test protocol success semantics
  .github/workflows/ci.yml
  package.json
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/protocol/src/__tests__/test.test.ts
  packages/protocol/src/protocols/test.ts
  packages/protocol/src/protocols/utils.ts
Due: ultracite, prettier

fix: record continue in execution metrics (#139)
  .github/workflows/ci.yml
  package.json
  packages/execution/src/metrics.ts
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/__tests__/test.test.ts
  packages/protocol/src/protocols/http.ts
  packages/protocol/src/protocols/stdin.ts
  packages/protocol/src/protocols/test.ts
  packages/protocol/src/protocols/utils.ts
Due: ultracite, prettier

fix: migrate tests to Claude SDK v2 schema
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/__tests__/test.test.ts
Due: ultracite

fix: handle optional success field in executor
  packages/types/src/events.ts
Due: ultracite

fix: migrate all packages to Claude Code SDK v2 format
  packages/examples/src/__tests__/bash-command-validator.test.ts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/execution/src/executor.ts
  packages/execution/src/metrics.ts
  packages/execution/src/result.ts
  packages/execution/src/runner.ts
  packages/plugins/src/__tests__/git-safety.test.ts
  packages/plugins/src/audit-logger/index.ts
  packages/plugins/src/file-backup/index.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/performance-monitor/index.ts
  packages/plugins/src/security-scanner/core/scanner.ts
  packages/plugins/src/security-scanner/index.ts
  packages/protocol/src/protocols/http.ts
  packages/registry/src/plugin.ts
  packages/registry/src/registry.ts
  packages/schemas/src/index.ts
Due: ultracite

fix: complete claude sdk v2 migration in error handling tests
  tests/error-paths/comprehensive-error-handling.test.ts
Due: ultracite

fix: restore legacy HookResults helpers
  packages/types/src/events.ts
Due: ultracite

fix: update security-scanner tests to use Claude SDK v2 format
  packages/plugins/src/__tests__/security-scanner.test.ts
Due: ultracite

fix(protocol): normalize legacy success fallback
  packages/execution/src/metrics.ts
  packages/protocol/src/protocols/http.ts
Due: ultracite

fix(schemas): remove legacy schema tests after cleanup
  packages/schemas/src/__tests__/input.test.ts
  packages/schemas/src/input.ts
  packages/types/src/__tests__/events.test.ts
  packages/types/src/events.ts
Due: ultracite

feat(types): align with Claude Code SDK types and schemas
  .agents/tasks/20250924-claude-code-compliance.md
  packages/hooks-core/src/types.ts
  packages/schemas/src/__tests__/input.test.ts
  packages/schemas/src/input.ts
  packages/types/src/__tests__/backwards-compatibility.test.ts
  packages/types/src/__tests__/decisions.test.ts
  packages/types/src/__tests__/events.test.ts
  packages/types/src/context.ts
  packages/types/src/decisions.ts
  packages/types/src/events.ts
  packages/types/src/index.ts
Due: ultracite, prettier

fix: migrate remaining tests to claude sdk v2 schema
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/protocol/src/__tests__/http.test.ts
  tests/error-paths/comprehensive-error-handling.test.ts
  tests/performance/benchmarks.test.ts
Due: ultracite

fix: complete Claude SDK v2 migration across execution, plugins, and tests
  packages/execution/src/executor.ts
  packages/execution/src/metrics.ts
  packages/execution/src/result.ts
  packages/execution/src/runner.ts
  packages/plugins/src/performance-monitor/index.ts
  packages/registry/src/__tests__/integration.test.ts
  packages/registry/src/__tests__/plugin.test.ts
  packages/registry/src/__tests__/registry.test.ts
Due: ultracite

fix: update execution package tests to use Claude SDK v2 format
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/integration.test.ts
  packages/execution/src/__tests__/metrics.test.ts
  packages/execution/src/__tests__/result.test.ts
  packages/execution/src/__tests__/runner.test.ts
Due: ultracite

fix: update git-safety tests to use Claude SDK v2 format
  packages/plugins/src/__tests__/git-safety.test.ts
Due: ultracite

Path conditions:
  ultracite: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{astro,md,json,yml,yaml}
  stylelint: any of: **/*.{css,pcss}
