Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, stylelint

biome:
  run: bunx biome check --write {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

refactor(cli): improve code quality in config command
  packages/hooks-cli/src/commands/config.ts
Due: biome

fix: address code review feedback and improve type safety
  docs/README.md
  packages/examples/src/testing/new-runtime-test.ts
  packages/hooks-cli/src/commands/config.ts
Due: biome, prettier

fix: resolve TypeScript import issue in hooks-core index
  packages/examples/src/testing/new-runtime-test.ts
  packages/hooks-core/src/index.ts
Due: biome

fix: improve regex pattern for quoted script paths
  packages/hooks-cli/src/commands/config.ts
Due: biome

fix(hooks-cli): address nitpick feedback
  packages/hooks-cli/src/commands/config.ts
Due: biome

fix(hooks-cli): resolve all remaining linter issues
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
Due: biome

fix(hooks-cli): relax parseArgs type to allow existing command patterns
  packages/hooks-cli/src/cli.ts
Due: biome

fix(cli): resolve final block statement linter issues
  packages/hooks-cli/src/cli.ts
Due: biome

fix: resolve linter errors in CLI command files
  biome.jsonc
  packages/hooks-cli/src/commands/generate.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/test.ts
  packages/hooks-cli/src/commands/validate.ts
Due: biome

fix: resolve TypeScript compilation errors
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/generate.ts
Due: biome

fix(cli): improve code quality and Node.js compatibility
  biome.jsonc
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/generate.ts
  packages/hooks-cli/src/commands/test.ts
  packages/hooks-cli/src/commands/validate.ts
Due: biome

fix: resolve typescript errors and build issues
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/hooks-cli/tsconfig.build.json
Due: biome, prettier

fix: resolve remaining linting issues from biome auto-fixes
  packages/examples/src/function-based/pre-tool-use.ts
Due: biome

fix(cli): implement all coderabbitai review feedback
  .changeset/config.json
  docs/migration-guide.md
  docs/plans/claude-code-hooks-typescript-library.md
  docs/resources/claude-code-hooks-configuration.md
  docs/resources/claude-code-hooks-index.md
  docs/resources/claude-code-hooks-overview.md
  docs/resources/claude-code-hooks-troubleshooting.md
  docs/resources/claude-code-hooks-typescript.md
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/test.ts
  packages/hooks-cli/src/commands/validate.ts
Due: biome, prettier

docs: update hooks documentation and resources
  docs/migration-guide.md
  docs/plans/claude-code-hooks-typescript-library.md
  docs/resources/claude-code-hooks-configuration.md
  docs/resources/claude-code-hooks-index.md
  docs/resources/claude-code-hooks-overview.md
  docs/resources/claude-code-hooks-troubleshooting.md
  docs/resources/claude-code-hooks-typescript.md
Due: prettier

test(examples): fix test assertion mismatches
  packages/examples/src/testing/hook-tests.test.ts
Due: biome

fix(examples): resolve testRunner export TypeScript error
  packages/examples/src/testing/hook-tests.test.ts
Due: biome

fix(tests): add placeholder test files to satisfy pre-push hooks
  packages/hooks-cli/src/__tests__/placeholder.test.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-testing/src/__tests__/placeholder.test.ts
  packages/hooks-validators/src/__tests__/placeholder.test.ts
Due: biome

refactor: consolidate agent files under .agent directory
  .agent/notes/.gitkeep
  .agent/prompts/CORE.md
  .agent/rules/ACCESSIBILITY.md
  .agent/rules/API.md
  .agent/rules/ARCHITECTURE.md
  .agent/rules/CI.md
  .agent/rules/DATA.md
  .agent/rules/DEVELOPMENT.md
  .agent/rules/DOCUMENTATION.md
  .agent/rules/ERRORS.md
  .agent/rules/IMPORTANT.md
  .agent/rules/MCP.md
  .agent/rules/MONOREPO.md
  .agent/rules/PACKAGES.md
  .agent/rules/PERFORMANCE.md
  .agent/rules/SECURITY.md
  .agent/rules/TESTING.md
  .agent/rules/conventions/bun.md
  .agent/rules/conventions/commands.md
  .agent/rules/conventions/commits.md
  .agent/rules/conventions/typescript.md
  .agent/rules/conventions/ultracite.md
  CLAUDE.md
  apps/CLAUDE.md
  packages/CLAUDE.md
Due: prettier

fix(cli): implement logging and help display functions
  packages/hooks-cli/src/cli.ts
Due: biome

fix(linting): resolve biome compliance issues in core modules
  .agent/notes/typescript-hooks-architecture.md
  .agent/prompts/CORE.md
  biome.jsonc
  bun.lock
  docs/agents.old/rules/ACCESSIBILITY.md
  docs/agents.old/rules/API.md
  docs/agents.old/rules/ARCHITECTURE.md
  docs/agents.old/rules/CI.md
  docs/agents.old/rules/DATA.md
  docs/agents.old/rules/DEVELOPMENT.md
  docs/agents.old/rules/DOCUMENTATION.md
  docs/agents.old/rules/ERRORS.md
  docs/agents.old/rules/IMPORTANT.md
  docs/agents.old/rules/MCP.md
  docs/agents.old/rules/MONOREPO.md
  docs/agents.old/rules/PACKAGES.md
  docs/agents.old/rules/PERFORMANCE.md
  docs/agents.old/rules/SECURITY.md
  docs/agents.old/rules/TESTING.md
  docs/agents.old/rules/conventions/bun.md
  docs/agents.old/rules/conventions/commands.md
  docs/agents.old/rules/conventions/commits.md
  docs/agents.old/rules/conventions/typescript.md
  docs/agents.old/rules/conventions/ultracite.md
  packages/hooks-cli/package.json
  packages/hooks-cli/src/__tests__/placeholder.test.ts
  packages/hooks-cli/src/cli.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-core/package.json
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/logger.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-testing/src/__tests__/placeholder.test.ts
  packages/hooks-validators/src/__tests__/placeholder.test.ts
Due: biome, prettier

feat(ci): add comprehensive GitHub Actions workflows
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
Due: prettier

fix(types): complete type safety improvements and configure biome
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  biome.jsonc
  packages/examples/src/builder-pattern/security-hooks.ts
  packages/examples/src/declarative/hook-config.ts
  packages/examples/src/function-based/post-tool-use.ts
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/hooks-config/src/config.ts
  packages/hooks-core/src/__tests__/verification-demo.ts
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/registry.ts
  packages/hooks-validators/src/security.ts
Due: biome, prettier

test: add comprehensive test coverage for hooks-core
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/registry.test.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
Due: biome

fix(types): resolve TypeScript compilation errors
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/registry.ts
Due: biome

fix: resolve biome lint warning for namespace import
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/logger.ts
  packages/hooks-core/src/registry.ts
  tsconfig.json
Due: biome, prettier

fix: implement comprehensive coderabbitai review feedback
  .agent/rules/DATA.md
  .agent/rules/SECURITY.md
  .github/labeler.yml
  .github/workflows/ci.yml
  docs/README.md
  docs/guides/getting-started.md
  docs/resources/claude-code-hooks-index.md
  lefthook.yml
  packages/CLAUDE.md
Due: prettier

feat(execution): implement Phase 3 of greenfield refactor - simplified execution engine
  packages/execution/README.md
  packages/execution/examples/simple-security-hook.ts
  packages/execution/package.json
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/integration.test.ts
  packages/execution/src/__tests__/metrics.test.ts
  packages/execution/src/__tests__/result.test.ts
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/metrics.ts
  packages/execution/src/result.ts
  packages/execution/src/runner.ts
  packages/execution/tsconfig.build.json
  packages/execution/tsconfig.json
Due: biome, prettier

fix(hooks): address critical issues from comprehensive code review
  package.json
  packages/hooks-cli/src/commands/generate.ts
  packages/hooks-config/src/config.ts
  scripts/smoke-import.ts
Due: biome, prettier

fix(types): resolve TypeScript compilation errors
  packages/hooks-config/src/config.ts
  packages/hooks-validators/src/security.ts
Due: biome

fix(ultracite): resolve all type safety violations
  packages/hooks-config/src/config.ts
  packages/hooks-testing/src/mock.ts
  packages/hooks-testing/src/test-framework.ts
  packages/hooks-validators/src/validation.ts
Due: biome

fix(ci): resolve TypeScript exhaustive check error and remove test sharding
  .github/workflows/ci.yml
  packages/hooks-validators/src/validation.ts
Due: biome, prettier

docs: update README files to use @outfitter namespace
  packages/hooks-cli/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
Due: prettier

fix: complete namespace migration from @claude-code to @outfitter and resolve TypeScript/biome issues
  biome.jsonc
  packages/execution/fix-executor-test.patch
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/integration.test.ts
  packages/execution/src/__tests__/metrics.test.ts
  packages/execution/src/__tests__/result.test.ts
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/metrics.ts
  packages/execution/src/result.ts
  packages/execution/src/runner.ts
  packages/execution/tsconfig.build.json
  packages/hooks-cli/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
  packages/protocol/tsconfig.build.json
Due: biome, prettier

fix: complete namespace migration from @claude-code to @outfitter across all packages
  packages/examples/package.json
  packages/examples/src/testing/hook-tests.test.ts
  packages/examples/src/testing/new-runtime-test.ts
  packages/hooks-cli/package.json
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/generate.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-cli/src/index.ts
  packages/hooks-config/package.json
  packages/hooks-config/src/config.ts
  packages/hooks-config/src/index.ts
  packages/hooks-core/package.json
  packages/hooks-core/src/index.ts
  packages/hooks-testing/package.json
  packages/hooks-testing/src/index.ts
  packages/hooks-testing/src/mock.ts
  packages/hooks-testing/src/test-framework.ts
  packages/hooks-validators/package.json
  packages/hooks-validators/src/index.ts
  packages/hooks-validators/src/security.ts
  packages/hooks-validators/src/validation.ts
Due: biome, prettier

fix(build): resolve TypeScript compilation errors across packages
  bun.lock
  packages/execution/src/index.ts
  packages/execution/tsconfig.build.json
  packages/hooks-testing/src/mock.ts
Due: biome, prettier

fix(build): complete TypeScript compilation fixes and disable broken packages
  packages/examples/package.json
  packages/plugins/package.json
  packages/registry/tsconfig.build.json
  packages/schemas/tsconfig.build.json
Due: prettier

fix(build): add composite settings and disable plugins package build
  packages/plugins/package.json
  packages/plugins/tsconfig.build.json
  packages/registry/tsconfig.build.json
Due: prettier

fix(code-quality): implement CodeRabbit PR review feedback
  biome.jsonc
  packages/examples/src/testing/new-runtime-test.ts
  packages/execution/src/__tests__/metrics.test.ts
  packages/execution/src/executor.ts
Due: biome

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{astro,md,json,yml,yaml}
  stylelint: any of: *.{css,pcss}
