Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

fix: foundation fixes for example hooks and type safety
  .agent/handoff.md
  .mcp.json
  bun.lock
  packages/examples/package.json
  packages/examples/src/__tests__/bash-command-validator.test.ts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/README.md
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/tsconfig.json
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: correct context field access in auto-formatter and git-safety hooks
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite

fix: correct package dependencies and repository URL
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
Due: ultracite, prettier

fix: update test assertions to use data instead of metadata
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
Due: ultracite

fix: correct package dependencies and repository URL (#48)
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
Due: ultracite, prettier

fix: foundation fixes for example hooks and type safety (#36)
  .agent/handoff.md
  .mcp.json
  bun.lock
  packages/examples/package.json
  packages/examples/src/__tests__/bash-command-validator.test.ts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/README.md
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/tsconfig.json
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix(examples): add biome-ignore comments for necessary any casts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite

feat: add comprehensive example hooks for public release
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: resolve test failures when running through Turbo vs direct Bun
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

docs: add Turbo removal impact analysis for MVP decision
  analyze_turbo_removal.md
Due: none

fix: resolve workspace validator path blocking issues in CI (Issue #22)
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

fix: update lockfile for CI compatibility
  analyze_turbo_removal.md
  bun.lock
Due: none

fix: update package references and fix labeler.yml format for CI
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  .github/workflows/release.yml
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite, prettier

feat: add comprehensive example hooks for public release
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: update package references from @outfitter to @carabiner in workflows
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

fix: correct labeler.yml formatting
  .github/labeler.yml
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite, prettier

chore: add .conductor/ to .gitignore to exclude from linting
  .gitignore
Due: none

fix: resolve linting issues in examples and tests
  packages/examples/src/auto-formatter.ts
  tests/production/production-scenarios.test.ts
Due: ultracite

fix: resolve package version inconsistencies
  .mcp.json
  bun.lock
  package.json
  packages/error-management/package.json
  packages/examples/package.json
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-registry/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: ultracite, prettier

ci: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: prettier

chore: stage formatting updates for package.json files
  packages/error-management/package.json
  packages/examples/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: prettier

chore: temporarily disable problematic linting rules to focus on fixing core issues
  biome.json
Due: none

chore: temporarily relax TypeScript settings to fix CI - will re-enable strict mode progressively
  tsconfig.json
Due: none

chore: final CI fixes - all core tests passing
  package.json
Due: none

fix: resolve remaining CI errors in PR #51
  packages/hooks-core/src/runtime.ts
  tests/integration/cross-package-integration.test.ts
Due: ultracite

fix: resolve additional TypeScript errors in registry package
  packages/registry/src/config.ts
  packages/registry/src/index.ts
  tests/integration/cross-package-integration.test.ts
Due: ultracite

fix: resolve TypeScript errors in plugins package
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/security-scanner/core/scanner.ts
  packages/plugins/src/security-scanner/index.ts
  packages/registry/src/index.ts
Due: ultracite

fix: enable strictNullChecks to resolve Zod type inference issues
  tsconfig.json
Due: none

fix: correct package name in Build Binaries workflow
  .github/workflows/build-binaries.yml
Due: prettier

fix: remove unnecessary biome-ignore comments from cli.ts
  packages/hooks-cli/src/cli.ts
Due: ultracite

fix: remove unnecessary biome-ignore comment from verify-build.ts
  scripts/verify-build.ts
Due: ultracite

fix: remove unnecessary biome-ignore for bitwise operators in security-guard.ts
  packages/examples/src/security-guard.ts
Due: ultracite

fix: remove unnecessary biome-ignore for noUnnecessaryConditions in init.ts
  packages/hooks-cli/src/commands/init.ts
Due: ultracite

fix: remove unnecessary biome-ignore suppressions in validate.ts
  packages/hooks-cli/src/commands/validate.ts
Due: ultracite
