Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, stylelint

biome:
  run: bunx biome check --write {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

fix: resolve TypeScript errors and revert plugin refactoring
  packages/hooks-cli/src/commands/validate.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/security-scanner/index.ts
  packages/registry/src/index.ts
Due: biome

fix(plugins): fix async test compatibility and reduce complexity
  packages/plugins/src/__tests__/git-safety.test.ts
  packages/plugins/src/__tests__/security-scanner.test.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/security-scanner/index.ts
Due: biome

fix(execution): add required fields to test inputs for metrics collection
  packages/execution/src/__tests__/runner.test.ts
Due: biome

fix(execution): address CodeRabbitAI test feedback for async assertions and error handling
  packages/execution/src/__tests__/runner.test.ts
Due: biome

fix(workflows): implement CodeRabbitAI security and reliability improvements
  .agent/rules/DATA.md
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  packages/execution/src/__tests__/runner.test.ts
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
Due: biome, prettier

fix(build): add TypeScript project references to resolve CI module resolution
  packages/execution/tsconfig.build.json
  packages/protocol/tsconfig.build.json
Due: prettier

fix(execution): address all coderabbitai review feedback
  packages/execution/src/__tests__/runner.test.ts
Due: biome

fix(ci): add TypeScript project references to resolve CI module resolution
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  packages/plugins/tsconfig.build.json
  packages/protocol/tsconfig.build.json
  packages/schemas/tsconfig.build.json
  packages/types/tsconfig.build.json
  tsconfig.build.json
Due: prettier

fix(ci): resolve CI pipeline failures
  .github/workflows/ci.yml
  packages/hooks-cli/src/generators/__tests__/hook-generator.test.ts
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
Due: biome, prettier

fix(build): complete TypeScript configuration fixes for all packages
  packages/execution/tsconfig.json
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  packages/plugins/tsconfig.json
  packages/protocol/tsconfig.json
  packages/registry/tsconfig.json
Due: prettier

fix(ci): fix TypeScript build and typecheck circular dependency
  packages/execution/tsconfig.json
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  turbo.json
Due: prettier

fix(ci): resolve TypeScript module resolution and build issues
  packages/execution/package.json
  packages/execution/tsconfig.build.json
  packages/execution/tsconfig.json
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  packages/plugins/tsconfig.build.json
  packages/plugins/tsconfig.json
  packages/protocol/package.json
  packages/protocol/tsconfig.build.json
  packages/protocol/tsconfig.json
  packages/registry/tsconfig.build.json
  packages/registry/tsconfig.json
  packages/schemas/package.json
  packages/schemas/tsconfig.build.json
  packages/schemas/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.build.json
  packages/types/tsconfig.json
Due: prettier

fix(ci): fix linting and syncpack command issues
  package.json
  packages/execution/tsconfig.json
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
Due: prettier

fix(ci): resolve final linting and dependency sync issues
  packages/execution/tsconfig.json
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.json
  packages/plugins/package.json
  packages/registry/package.json
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
Due: prettier

fix(ci): fix syncpack command and align dependency versions
  package.json
  packages/examples/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: prettier

fix(hooks-cli): resolve circular dependencies
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/generate.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/test.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-cli/src/index.ts
  packages/hooks-cli/src/types.ts
Due: biome

ci: remove unnecessary validate-pr and auto-label jobs
  .github/workflows/pr.yml
Due: prettier

fix(ci): address coderabbitai feedback on workflow and package scripts
  .github/workflows/pr.yml
  package.json
Due: prettier

fix(ci): address coderabbitai feedback on workflow and package scripts
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .prettierrc.json
  biome.json
  biome.jsonc
  docs/resources/claude-code-hooks-overview.md
  lefthook.yml
  packages/execution/tsconfig.json
  packages/hooks-cli/REFACTORING_SUMMARY.md
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
  packages/hooks-config/tsconfig.build.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.build.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.build.json
  packages/hooks-validators/tsconfig.json
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
  turbo.json
Due: prettier

feat(deps): upgrade biome to v2.2.0 and ultracite to v5.1.5
  .github/OPTIMIZATION_GUIDE.md
  .github/actions/setup-environment/action.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/pr-optimized.yml
  biome.json
  bun.lock
  package.json
Due: prettier

feat(runtime): modernize to use latest Bun 1.2.20 features
  .github/OPTIMIZATION_GUIDE.md
  .github/actions/setup-environment/action.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/pr-optimized.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  bun.lock
  package.json
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/templates/hook/security.ts
  packages/hooks-core/src/logger.ts
  packages/protocol/src/protocols/test.ts
  packages/registry/src/config.ts
Due: biome, prettier

docs: clarify package naming strategy and clean hooks overview
  .agent/notes/202508141442-package-strategy.md
  docs/resources/claude-code-hooks-overview.md
Due: prettier

refactor(core): import hygiene, env-based VERSION, and lint fixes
  biome.json
  packages/hooks-cli/src/index.ts
  packages/hooks-config/src/index.ts
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/index.ts
  packages/hooks-testing/src/index.ts
  packages/hooks-validators/src/index.ts
  tsconfig.json
Due: biome

fix(hooks-core,tests): resolve lint in runtime tests and utility
  packages/execution/src/index.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/logger.ts
  packages/hooks-core/src/registry.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
  packages/hooks-testing/src/test-framework.ts
  packages/hooks-validators/src/security.ts
  packages/plugins/src/index.ts
  packages/registry/src/index.ts
Due: biome

fix(core): resolve typescript compilation errors in exports and type constraints
  packages/hooks-core/src/context-factories.ts
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/validation-utils.ts
Due: biome

fix(ci): address coderabbitai feedback on workflow and package scripts
  .github/OPTIMIZATION_GUIDE.md
  .github/workflows/pr-optimized.yml
  .github/workflows/release.yml
  package.json
Due: prettier

fix(security): address critical @coderabbitai feedback on PR #3
  .github/workflows/build-binaries.yml
  .github/workflows/comprehensive-tests.yml
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  docs/troubleshooting.md
Due: prettier

feat(config,cli): add advanced error management integration and version testing
  .agent/notes/20250815-comprehensive-transformation-summary.md
  biome.json
  packages/hooks-cli/src/__tests__/version.test.ts
  packages/hooks-config/src/config.ts
  packages/hooks-config/src/types/error-management.d.ts
Due: biome, prettier

fix(config): correct biome.json configuration for TypeScript file processing
  .agent/notes/20250815-comprehensive-transformation-summary.md
  biome.json
Due: prettier

fix(error-management): resolve failing CircuitBreaker tests and linting
  packages/error-management/src/__tests__/recovery.test.ts
  packages/error-management/src/recovery.ts
Due: biome

fix(error-management,hooks-cli): resolve failing tests and apply code formatting
  packages/error-management/src/recovery.ts
  packages/hooks-cli/src/__tests__/version.test.ts
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/config.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-cli/src/generators/base-generator.ts
  packages/hooks-cli/src/generators/hook-generator.ts
  packages/hooks-cli/src/generators/middleware-generator.ts
  packages/hooks-cli/src/generators/test-generator.ts
  packages/hooks-cli/src/generators/validator-generator.ts
  packages/hooks-cli/src/security/__tests__/security.test.ts
  packages/hooks-cli/src/security/command-validator.ts
  packages/hooks-cli/src/security/index.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-cli/src/templates/index.ts
  packages/hooks-cli/src/types.ts
  packages/hooks-cli/src/utils/file-operations.ts
  packages/hooks-cli/tsconfig.build.json
  packages/hooks-cli/tsconfig.json
Due: biome, prettier

style: format tsconfig.json files with prettier
  packages/execution/tsconfig.json
  packages/hooks-config/tsconfig.build.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.build.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.build.json
  packages/hooks-validators/tsconfig.json
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
Due: prettier

fix(hooks-core): restore missing console.log in outputHookResult JSON mode
  packages/hooks-core/src/runtime.ts
Due: biome

Path conditions:
  biome: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{astro,md,json,yml,yaml}
  stylelint: any of: **/*.{css,pcss}
