Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

ultracite:
  run: bunx ultracite format {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

chore: eliminate lazy error messages across codebase
  docs/resources/claude-code-hooks-troubleshooting.md
  packages/error-management/src/__tests__/errors.test.ts
  packages/error-management/src/errors.ts
  packages/error-management/src/utils.ts
  packages/execution/README.md
  packages/execution/src/__tests__/result.test.ts
  packages/schemas/src/validation.ts
  packages/types/src/__tests__/events.test.ts
Due: ultracite, prettier

docs: update scope references from @claude-code/* to @outfitter/*
  docs/README.md
  docs/guides/core-concepts.md
  docs/guides/getting-started.md
  docs/plans/claude-code-hooks-typescript-library.md
  package.json
  packages/examples/package.json
  packages/execution/package.json
  packages/hooks-cli/README.md
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-config/src/config.ts
  packages/hooks-core/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/protocol/package.json
  packages/registry/package.json
  packages/registry/src/plugin.ts
  packages/schemas/package.json
  packages/types/package.json
Due: ultracite, prettier

fix: apply linter formatting fixes to config.ts
  packages/hooks-config/src/config.ts
Due: ultracite

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier

feat: add claude code action
  .github/workflows/claude.yml
Due: prettier

feat: add GitHub Pages for schema hosting at carabiner.outfitter.dev
  .github/workflows/update-schema.yml
  docs/CNAME
  docs/index.html
  docs/schema.json
Due: prettier

docs: add DNS setup instructions for GitHub Pages custom domain
  docs/DNS_SETUP.md
Due: prettier

docs: add migration handoff document
  .agent/handoff/2024-12-25-carabiner-migration-status.md
  .agent/rules/MCP.md
  .github/workflows/update-schema.yml
  .mcp.json
  docs/DNS_SETUP.md
  docs/schema.json
Due: prettier

fix: resolve CLI help flag parsing for subcommands
  packages/hooks-cli/src/cli.ts
Due: ultracite

fix: remove undefined variable reference in binary build script
  .github/workflows/build-binaries.yml
Due: prettier

fix: resolve CI binary build issues
  .github/workflows/build-binaries.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/pr-optimized.yml
  .github/workflows/release.yml
Due: prettier

feat: create official hooks registry with markdown formatter
  packages/hooks-registry/README.md
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/hooks-registry/tsconfig.json
Due: ultracite, prettier

refactor: update imports from @outfitter to @carabiner in hooks-registry
  packages/hooks-registry/README.md
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
Due: ultracite, prettier

feat: create official hooks registry with markdown formatter (#9)
  packages/hooks-registry/README.md
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/hooks-registry/tsconfig.json
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
Due: ultracite, prettier

fix: resolve test failures when running through Turbo vs direct Bun
  bun.lock
  package.json
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/tsconfig.json
Due: ultracite, prettier

fix: add declaration option to hooks-registry tsconfig for proper build
  RELEASE-PREFLIGHT.md
  packages/hooks-registry/tsconfig.json
Due: prettier

refactor: improve pattern detection and defensive copying per CodeRabbit review
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/package.json
Due: ultracite, prettier

fix: resolve build errors in hooks-registry
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/hooks-registry/tsconfig.json
Due: ultracite, prettier

feat: add cursor agent docker environment setup
  .cursor/Dockerfile
  .cursor/environment.json
  .vscode/extensions.json
  Makefile
  scripts/build-agent-image.sh
Due: prettier

fix: address CodeRabbit security and usability feedback
  .cursor/Dockerfile
  .cursor/environment.json
  CHANGELOG.md
  CONTRIBUTING.md
  GETTING-STARTED.md
  RELEASE-PREFLIGHT.md
  scripts/build-agent-image.sh
Due: prettier

fix: enhance Docker security with optional SHA256 checksum verification
  .cursor/.dockerignore
  .cursor/DOCKER_SETUP.md
  .cursor/Dockerfile
  GETTING-STARTED.md
  Makefile
  packages/hooks-registry/tsconfig.json
  scripts/build-agent-image.sh
Due: prettier

feat: add cursor agent docker environment setup
  .cursor/.dockerignore
  .cursor/DOCKER_SETUP.md
  .cursor/Dockerfile
  .cursor/environment.json
  .vscode/extensions.json
  CHANGELOG.md
  CONTRIBUTING.md
  GETTING-STARTED.md
  Makefile
  RELEASE-PREFLIGHT.md
  packages/hooks-registry/tsconfig.json
  scripts/build-agent-image.sh
Due: prettier

fix: resolve all test failures in hooks-registry and types packages
  .agent/scratchpad.md
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
Due: ultracite, prettier

chore: update lockfile after catalog mapping
  bun.lock
  package.json
Due: none

fix: resolve markdown-formatter linting errors and test failures
  .mcp.json
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/src/index.ts
  packages/protocol/src/__tests__/stdin.test.ts
Due: ultracite, prettier

fix: correct package dependencies and repository URL
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/hooks-registry/package.json
Due: ultracite, prettier

fix: resolve test failures when running through Turbo vs direct Bun
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-registry/tsconfig.json
Due: ultracite, prettier

fix: address CodeRabbit feedback - improve type safety, error handling, and code quality
  .mcp.json
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  tests/production/production-scenarios.test.ts
Due: ultracite

fix: improve buffer handling in markdown formatter error messages
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: resolve workspace validator path blocking issues in CI (Issue #22)
  .agent/handoff.md
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite, prettier

fix: implement proper timeout cleanup in executor to prevent memory leaks
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/executor.ts
Due: ultracite

fix: address CodeRabbit security and compatibility feedback
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: resolve merge conflicts in bun.lock
  bun.lock
Due: none

fix: improve markdown glob pattern matching per CodeRabbit feedback
  packages/hooks-registry/src/hooks/markdown-formatter.ts
Due: ultracite

fix: resolve build errors in hooks-registry
  packages/hooks-registry/src/hooks/markdown-formatter.ts
  packages/hooks-registry/tsconfig.json
Due: ultracite, prettier

feat: add comprehensive example hooks and fix linting issues
  biome.json
  bun.lock
  packages/examples/package.json
  packages/examples/src/__tests__/bash-command-validator.test.ts
  packages/examples/src/auto-formatter.ts
  packages/examples/src/bash-command-validator.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/index.ts
  packages/examples/src/security-guard.ts
  packages/hooks-registry/README.md
  packages/hooks-registry/package.json
  packages/hooks-registry/src/__tests__/markdown-formatter.test.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
  packages/schema-server/README.md
  packages/schema-server/deploy.sh
  packages/schema-server/package.json
  packages/schema-server/public/schema.json
  packages/schema-server/src/generate-schema.ts
  packages/schema-server/src/worker.ts
  packages/schema-server/wrangler.toml
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: enforce strict type safety without relaxing linting rules
  biome.json
  packages/execution/src/__tests__/runner.test.ts
  packages/execution/src/executor.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
  packages/hooks-core/src/logging/logger.ts
  packages/hooks-registry/README.md
Due: ultracite, prettier

refactor: improve pattern detection and defensive copying per CodeRabbit review
  packages/hooks-cli/src/security/workspace-validator.ts
Due: ultracite

Path conditions:
  ultracite: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{astro,md,json,yml,yaml}
  stylelint: any of: **/*.{css,pcss}
