Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

feat: integrate claude code sdk for type-safe hooks (#97)
  .agents/notes/20250917-hook-adapter-tracking.md
  .agents/notes/hook-adapter-architecture.md
  AGENTS.md
  CLAUDE.md
  README.md
  bun.lock
  packages/examples/package.json
  packages/examples/src/builder-pattern/security-hooks.ts
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/hello-world-sdk.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/hooks-core/package.json
  packages/hooks-core/providers/README.md
  packages/hooks-core/src/__tests__/__snapshots__/adapter.test.ts.snap
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/registry.test.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/builder.ts.backup
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/providers/claude-adapter.ts
  packages/hooks-core/src/providers/index.ts
  packages/hooks-core/src/providers/registry.ts
  packages/hooks-core/src/providers/types.ts
  packages/hooks-core/src/registry.ts.backup
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
  packages/hooks-testing/src/index.ts
  packages/hooks-testing/src/mock.ts
  packages/hooks-testing/src/test-framework.ts
  packages/hooks-validators/src/security.ts
Due: ultracite, prettier

refactor: route runtime through provider adapters
  .agents/notes/20250917-hook-adapter-tracking.md
  docs/adapter-runtime-refactor.md
  packages/hooks-core/README.md
  packages/hooks-core/src/__tests__/registry.test.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/providers/types.ts
  packages/hooks-core/src/registry.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
Due: ultracite, prettier

refactor: migrate examples to normalized helper API and fix TypeScript errors
  ADAPTER-MIGRATION-STATUS.md
  packages/examples/package.json
  packages/examples/src/builder-pattern/security-hooks.ts
  packages/examples/src/declarative/hook-config.ts
  packages/examples/src/function-based/post-tool-use.ts
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/hello-world-sdk.ts
  packages/examples/src/hello-world.ts
  packages/examples/src/simple-hello-world-test.ts
  packages/examples/src/test-hello-world.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/examples/src/testing/new-runtime-test.ts
  packages/hooks-cli/bin/carabiner.ts
  packages/hooks-cli/bin/tsconfig.json
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/registry.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/index.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-testing/src/mock.ts
  packages/plugins/src/__tests__/git-safety.test.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/__tests__/test.test.ts
  packages/protocol/src/protocols/http.ts
  packages/registry/src/__tests__/integration.test.ts
  packages/registry/src/__tests__/plugin.test.ts
  packages/registry/src/__tests__/registry.test.ts
  packages/schemas/src/__tests__/input.test.ts
  packages/schemas/src/__tests__/validation.test.ts
  packages/schemas/src/tools.ts
  packages/types/src/__tests__/context.test.ts
  packages/types/src/__tests__/events.test.ts
  packages/types/src/__tests__/tools.test.ts
  packages/types/src/context.ts
  scripts/run-comprehensive-tests.ts
  tests/edge-cases/large-inputs.test.ts
  tests/integration/cross-package-integration.test.ts
  tests/production/production-scenarios.test.ts
  tsconfig.json
Due: ultracite, prettier

fix: resolve provider within runtime error boundary
  packages/examples/src/function-based/pre-tool-use.ts
  packages/examples/src/testing/hook-tests.test.ts
  packages/hooks-core/src/runtime.ts
Due: ultracite

fix: address review feedback
  packages/execution/examples/simple-security-hook.ts
  packages/execution/src/metrics.ts
  packages/hooks-cli/bin/carabiner.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/__tests__/verification-demo.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/providers/claude-adapter.ts
  packages/hooks-core/src/providers/types.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/plugins/src/__tests__/git-safety.test.ts
Due: ultracite

fix: allow hook event shorthand (#103)
  packages/execution/examples/simple-security-hook.ts
  packages/execution/src/metrics.ts
  packages/hooks-cli/bin/carabiner.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/__tests__/builder.test.ts
  packages/hooks-core/src/__tests__/runtime.test.ts
  packages/hooks-core/src/__tests__/tool-scoping.test.ts
  packages/hooks-core/src/__tests__/verification-demo.ts
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/providers/claude-adapter.ts
  packages/hooks-core/src/providers/types.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/src/types.ts
  packages/hooks-registry/examples/markdown-formatter.example.ts
  packages/plugins/src/__tests__/git-safety.test.ts
Due: ultracite

fix: narrow security scanner findings
  .agents/notes/claude-code-compliance-checklist.md
  .agents/notes/logger-and-tests-plan.md
  docs/why-carabiner-examples.md
  packages/plugins/src/security-scanner/index.ts
Due: ultracite, prettier

fix: update doc examples to use actual Carabiner API patterns
  docs/why-carabiner-examples.md
Due: prettier

style: apply formatter to documentation examples
  docs/why-carabiner-examples.md
Due: prettier

docs: update examples to use actual Carabiner API
  docs/why-carabiner-examples.md
Due: prettier

style: apply formatter to documentation
  docs/why-carabiner-examples.md
Due: prettier

feat(types): align with Claude Code SDK types and schemas
  .agents/tasks/20250924-claude-code-compliance.md
  packages/hooks-core/src/types.ts
  packages/schemas/src/__tests__/input.test.ts
  packages/schemas/src/input.ts
  packages/types/src/__tests__/backwards-compatibility.test.ts
  packages/types/src/__tests__/decisions.test.ts
  packages/types/src/__tests__/events.test.ts
  packages/types/src/context.ts
  packages/types/src/decisions.ts
  packages/types/src/events.ts
  packages/types/src/index.ts
Due: ultracite, prettier

chore: update docs to proper package naming
  docs/QUICKSTART.md
  docs/README.md
  docs/api-reference/README.md
  docs/architecture.md
  docs/cli-reference.md
  docs/configuration.md
  docs/examples/README.md
  docs/migration-guides.md
  docs/troubleshooting.md
  docs/why-carabiner-examples.md
  packages/error-management/README.md
  packages/execution/README.md
  packages/hooks-config/README.md
  packages/hooks-core/README.md
  packages/hooks-core/src/logging/README.md
  packages/hooks-testing/README.md
  packages/hooks-validators/README.md
  packages/registry/README.md
Due: prettier

refactor: ensure claude code sdk compliance
  .agents/tasks/20250924-claude-code-compliance.md
Due: prettier

fix: restore legacy HookResults helpers
  packages/types/src/events.ts
Due: ultracite

fix: handle optional success field in executor
  packages/execution/src/executor.ts
  packages/types/src/events.ts
Due: ultracite

feat: add context factories with environment variable injection
  packages/hooks-core/src/__tests__/context-factory.test.ts
  packages/hooks-core/src/__tests__/environment.test.ts
  packages/hooks-core/src/context/factory.ts
  packages/hooks-core/src/context/index.ts
  packages/hooks-core/src/environment.ts
  packages/hooks-core/src/index.ts
Due: ultracite

fix: ensure hook env vars are deleted
  packages/hooks-core/src/environment.ts
Due: ultracite

fix: use delete operator for environment variable cleanup
  packages/hooks-core/src/environment.ts
Due: ultracite

fix: clean env cleanup tests and restore console spy
  packages/hooks-core/src/__tests__/context-factory.test.ts
  packages/hooks-core/src/__tests__/environment.test.ts
  packages/hooks-core/src/environment.ts
Due: ultracite

fix: support session events in test protocol
  packages/protocol/src/protocols/test.ts
Due: ultracite

style: apply formatting to schemas and protocol
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/test.ts
  packages/schemas/src/input.ts
Due: ultracite

feat: update protocol parsing to preserve Claude Code SDK fields
  packages/hooks-core/src/__tests__/adapter.test.ts
  packages/hooks-core/src/providers/claude-adapter.ts
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
Due: ultracite

fix: preserve stdin payload extensions
  packages/protocol/src/protocols/stdin.ts
Due: ultracite

fix: preserve SDK-specific fields using Zod passthrough in schema validation
  packages/protocol/src/protocols/stdin.ts
  packages/schemas/src/__tests__/input.test.ts
  packages/schemas/src/input.ts
Due: ultracite

fix: validate hook event before building test protocol context
  packages/protocol/src/protocols/test.ts
Due: ultracite

fix: tighten permission decisions and timeout kill
  packages/execution/src/executor.ts
  packages/execution/src/timeout.ts
Due: ultracite

fix: harden execution logging and exports
  packages/execution/src/index.ts
Due: ultracite

feat: implement execution engine with timeouts and exit code semantics
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/result.test.ts
  packages/execution/src/__tests__/timeout.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/metrics.ts
  packages/execution/src/result.ts
  packages/execution/src/timeout.ts
Due: ultracite

style: apply formatting
  packages/execution/src/__tests__/timeout.test.ts
Due: ultracite

fix: block ask permission results and ensure SIGKILL fallback
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/timeout.ts
Due: ultracite

fix: add proper boolean cast to type guard
  packages/hooks-config/src/config.ts
Due: ultracite

feat: add multi-hook config with MCP validation and enum matchers
  packages/hooks-config/src/__tests__/multi-hook-config.test.ts
  packages/hooks-config/src/config.ts
Due: ultracite

fix: support multi-hook array format in config validation and settings generation
  packages/hooks-config/src/config.ts
Due: ultracite

fix: respect enabled flags in multi-hook config and settings
  packages/hooks-config/src/__tests__/multi-hook-config.test.ts
  packages/hooks-config/src/__tests__/placeholder.test.ts
  packages/hooks-config/src/config.ts
Due: ultracite

infra: allow injectable logger factory
  docs/architecture.md
  docs/guides/getting-started.md
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
Due: ultracite, prettier

test: add comprehensive Claude Code compliance test suite with golden fixtures
  test-results/test-results.html
  test-results/test-results.json
  tests/fixtures/events/notification.json
  tests/fixtures/events/posttooluse-write.json
  tests/fixtures/events/precompact.json
  tests/fixtures/events/pretooluse-mcp.json
  tests/fixtures/events/pretooluse-write.json
  tests/fixtures/events/sessionend.json
  tests/fixtures/events/sessionstart.json
  tests/fixtures/events/stop.json
  tests/fixtures/events/subagentstop.json
  tests/fixtures/events/userpromptsubmit.json
  tests/spec/claude-compliance.test.ts
Due: ultracite, prettier

fix: re-export process executeHook for backwards compatibility
  packages/execution/src/index.ts
Due: ultracite

docs: add comprehensive Claude Code migration guide and examples
  README.md
  docs/CLAUDE_CODE_MIGRATION.md
  docs/troubleshooting.md
  examples/claude-code-hooks/basic-pretooluse.json
  examples/claude-code-hooks/context-injection.py
  examples/claude-code-hooks/mcp-integration.json
  examples/claude-code-hooks/permission-control.py
  tests/fixtures/events/userpromptsubmit.json
Due: prettier
