Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, stylelint

biome:
  run: bunx biome check --write {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

fix: resolve TypeScript compilation errors across packages
  packages/error-management/src/recovery.ts
  packages/error-management/src/reporting.ts
  packages/execution/tsconfig.json
  packages/hooks-config/src/config.ts
  packages/hooks-config/tsconfig.build.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/runtime.ts
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/src/test-framework.ts
  packages/hooks-testing/tsconfig.build.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.build.json
  packages/hooks-validators/tsconfig.json
  packages/plugins/src/performance-monitor/index.ts
  packages/registry/src/registry.ts
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
Due: biome, prettier

fix(hooks-core): restore console.log output for JSON mode tests
  packages/hooks-core/src/runtime.ts
Due: biome

style: format remaining tsconfig.json files
  packages/hooks-core/tsconfig.json
Due: prettier

fix(plugins): resolve TypeScript error in file-backup plugin
  packages/plugins/src/file-backup/index.ts
Due: biome

fix: address PR review feedback and resolve critical test failures
  packages/execution/tsconfig.json
  packages/hooks-config/src/config.ts
  packages/hooks-config/tsconfig.build.json
  packages/hooks-config/tsconfig.json
  packages/hooks-core/tsconfig.json
  packages/hooks-testing/tsconfig.build.json
  packages/hooks-testing/tsconfig.json
  packages/hooks-validators/tsconfig.build.json
  packages/hooks-validators/tsconfig.json
  packages/schemas/tsconfig.json
  packages/types/tsconfig.json
  tests/error-paths/comprehensive-error-handling.test.ts
  tests/integration/cross-package-integration.test.ts
  tests/performance/benchmarks.test.ts
  tests/production/production-scenarios.test.ts
Due: biome, prettier

refactor: reorganize testing documentation
  .agent/rules/TESTING.md
  TESTING.md
  docs/testing.md
Due: prettier

fix(error-management): resolve TypeScript and linting errors
  .agent/rules/TESTING.md
  docs/testing.md
  packages/error-management/src/utils.ts
Due: biome, prettier

fix(hooks-core): resolve TypeScript compilation errors
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/runtime.ts
Due: biome

docs: add daily repository recap for August 18, 2025
  .agent/recaps/20250818-repo-recap.md
  .agent/recaps/ANALYSIS-SUMMARY-20250818.md
Due: prettier

fix(plugins): correct ToolInput type import name
  .agent/recaps/20250818-repo-recap.md
  .agent/recaps/ANALYSIS-SUMMARY-20250818.md
  packages/plugins/src/security-scanner/core/scanner.ts
Due: biome, prettier

fix(plugins): fix remaining ToolInput type reference
  packages/plugins/src/security-scanner/core/scanner.ts
Due: biome

fix: address additional @coderabbitai review feedback
  packages/hooks-cli/src/cli.ts
  packages/hooks-config/src/config.ts
  packages/hooks-core/src/runtime.ts
  packages/types/src/context.ts
Due: biome

fix: address comprehensive @coderabbitai re-review feedback
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-cli/src/utils/file-operations.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/security-scanner/core/scanner.ts
  scripts/verify-build.ts
Due: biome

fix: comprehensive ci fixes addressing all pr review feedback
  .agent/notes/type-safe-implementation-example.ts
  .biomeignore
  .gitignore
  biome.json
  debug-test.js
  packages/error-management/src/index.ts
  packages/hooks-cli/src/cli.ts
  packages/hooks-core/src/runtime.ts
  tests/production/production-scenarios.test.ts
  tests/test-runner.config.ts
Due: biome

fix(ci): address remaining CI failures with comprehensive improvements
  package.json
  packages/hooks-cli/src/security/__tests__/security.test.ts
Due: biome

fix(validation): resolve package.json version inconsistencies
  packages/error-management/package.json
  packages/execution/package.json
Due: prettier

fix: resolve all remaining ci failures and improve code quality
  .biomeignore
  packages/hooks-cli/src/cli.ts
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-cli/src/generators/__tests__/hook-generator.test.ts
  packages/hooks-cli/src/security/__tests__/security.test.ts
  packages/hooks-cli/src/security/command-validator.ts
  packages/hooks-cli/src/security/workspace-validator.ts
  packages/hooks-cli/src/templates/__tests__/template-registry.test.ts
Due: biome

fix: correct biome configuration to use proper ignore syntax
  .biomeignore
  biome.json
Due: none

fix: correct biome configuration field name from ignore to ignores
  biome.json
Due: none

fix: control character sanitization and ultracite compliance
  packages/error-management/src/boundaries.ts
  packages/error-management/src/errors.ts
  packages/error-management/src/reporting.ts
  packages/error-management/src/utils.ts
  packages/hooks-core/src/runtime.ts
  packages/plugins/src/git-safety/index.ts
Due: biome

fix: builder readonly properties and JSON output implementation
  packages/hooks-core/src/builder.ts
  packages/hooks-core/src/runtime.ts
Due: biome

fix: address final @coderabbitai review feedback
  packages/error-management/src/__tests__/errors.test.ts
  packages/plugins/src/git-safety/index.ts
  scripts/verify-build.ts
Due: biome

fix: complete ESM imports and add biomeignore for production tests
  .biomeignore
  tests/production/production-scenarios.test.ts
Due: biome

docs: add comprehensive repository recaps for August 8-20 development
  .agent/recaps/20250808-repo-recap.md
  .agent/recaps/20250809-repo-recap.md
  .agent/recaps/20250817-repo-recap.md
  .agent/recaps/20250819-repo-recap.md
  .agent/recaps/20250820-ANALYSIS-SUMMARY.md
  .agent/recaps/20250820-repo-recap.md
Due: prettier

style: apply prettier formatting to recap files
  .agent/recaps/20250808-repo-recap.md
  .agent/recaps/20250809-repo-recap.md
  .agent/recaps/20250817-repo-recap.md
  .agent/recaps/20250819-repo-recap.md
  .agent/recaps/20250820-ANALYSIS-SUMMARY.md
  .agent/recaps/20250820-repo-recap.md
Due: prettier

fix: implement hard timeout with stream destruction for stdin operations
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
Due: biome

chore: update lockfile
  bun.lock
Due: none

Apply suggestions from code review
  packages/protocol/src/protocols/stdin.ts
Due: biome

fix: address CodeRabbit review feedback for stdin protocol
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
Due: biome

docs: add comprehensive repository recaps for August 8-20 development (#7)
  .agent/recaps/20250808-repo-recap.md
  .agent/recaps/20250809-repo-recap.md
  .agent/recaps/20250817-repo-recap.md
  .agent/recaps/20250819-repo-recap.md
  .agent/recaps/20250820-ANALYSIS-SUMMARY.md
  .agent/recaps/20250820-repo-recap.md
Due: prettier

fix: implement hard timeout with stream destruction for stdin operations (#8)
  bun.lock
  packages/protocol/src/__tests__/stdin.test.ts
  packages/protocol/src/protocols/stdin.ts
Due: biome

Apply suggested changes
  docs/README.md
  packages/error-management/src/index.ts
  packages/hooks-config/src/config.ts
  packages/hooks-config/src/define-config.ts
  packages/hooks-config/src/index.ts
Due: biome, prettier

fix(rename): address coderabbitai feedback on carabiner rename
  .agent/notes/20250815-comprehensive-transformation-summary.md
  .agent/notes/type-safe-refactoring-plan.md
  .github/workflows/release.yml
  docs/guides/core-concepts.md
  docs/guides/getting-started.md
  docs/testing.md
  packages/examples/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/plugins/package.json
  packages/registry/package.json
  packages/schemas/package.json
  packages/types/package.json
  tests/production/production-scenarios.test.ts
Due: biome, prettier

chore: update remaining @claude-code references to @outfitter
  .agent/notes/202501111858-greenfield-refactor-plan.md
  .agent/notes/202508111305-claude-hooks-review-and-actions.md
  .agent/notes/typescript-hooks-architecture.md
  docs/plans/claude-code-hooks-typescript-library.md
Due: prettier

chore: improve error message example in documentation
  packages/error-management/README.md
Due: prettier

Path conditions:
  biome: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{astro,md,json,yml,yaml}
  stylelint: any of: **/*.{css,pcss}
