Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

ultracite:
  run: bunx ultracite format {staged_files}

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  run: bunx stylelint --fix {staged_files}

test: update test cases to use Claude SDK v2 format
  packages/protocol/src/__tests__/http.test.ts
Due: ultracite

test: align claude compliance harness with sdk v2 semantics
  tests/spec/claude-compliance.test.ts
Due: ultracite

fix: migrate registry and plugins to Claude SDK v2 format
  packages/plugins/src/file-backup/index.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/performance-monitor/index.ts
  packages/plugins/src/security-scanner/index.ts
  packages/registry/src/plugin.ts
  packages/registry/src/registry.ts
Due: ultracite

test: complete Claude SDK v2 migration for all test suites
  packages/registry/src/__tests__/integration.test.ts
  packages/registry/src/__tests__/plugin.test.ts
  packages/registry/src/__tests__/registry.test.ts
Due: ultracite

test: update plugin tests to use Claude SDK v2 format
  packages/plugins/src/__tests__/git-safety.test.ts
  packages/plugins/src/__tests__/security-scanner.test.ts
  packages/plugins/src/file-backup/index.ts
  packages/plugins/src/security-scanner/index.ts
Due: ultracite

test: add Claude Code compliance suite [CB-47] (#132)
  .agents/notes/claude-code-compliance-checklist.md
  packages/plugins/src/__tests__/git-safety.test.ts
  packages/plugins/src/__tests__/security-scanner.test.ts
  packages/plugins/src/file-backup/index.ts
  packages/plugins/src/git-safety/index.ts
  packages/plugins/src/performance-monitor/index.ts
  packages/plugins/src/security-scanner/index.ts
  packages/protocol/src/__tests__/http.test.ts
  packages/registry/src/__tests__/integration.test.ts
  packages/registry/src/__tests__/plugin.test.ts
  packages/registry/src/__tests__/registry.test.ts
  packages/registry/src/plugin.ts
  packages/registry/src/registry.ts
  test-results/test-results.html
  test-results/test-results.json
  tests/fixtures/events/notification.json
  tests/fixtures/events/posttooluse-write.json
  tests/fixtures/events/precompact.json
  tests/fixtures/events/pretooluse-mcp.json
  tests/fixtures/events/pretooluse-write.json
  tests/fixtures/events/sessionend.json
  tests/fixtures/events/sessionstart.json
  tests/fixtures/events/stop.json
  tests/fixtures/events/subagentstop.json
  tests/fixtures/events/userpromptsubmit.json
  tests/spec/claude-compliance.test.ts
Due: ultracite, prettier

docs: align claude config examples with event keys
  examples/claude-code-hooks/basic-pretooluse.json
  examples/claude-code-hooks/mcp-integration.json
Due: prettier

style: apply formatting
  examples/claude-code-hooks/mcp-integration.json
  tests/fixtures/events/userpromptsubmit.json
Due: prettier

docs: add comprehensive Claude Code migration guide and examples
  README.md
  docs/CLAUDE_CODE_MIGRATION.md
  docs/troubleshooting.md
  examples/claude-code-hooks/basic-pretooluse.json
  examples/claude-code-hooks/context-injection.py
  examples/claude-code-hooks/mcp-integration.json
  examples/claude-code-hooks/permission-control.py
  tests/fixtures/events/userpromptsubmit.json
Due: prettier

docs: publish Claude Code migration guide [CB-48] (#133)
  README.md
  docs/CLAUDE_CODE_MIGRATION.md
  docs/troubleshooting.md
  examples/claude-code-hooks/basic-pretooluse.json
  examples/claude-code-hooks/context-injection.py
  examples/claude-code-hooks/mcp-integration.json
  examples/claude-code-hooks/permission-control.py
Due: prettier

fix(logging): add non-null assertions to logger factory test
  packages/hooks-core/src/logging/__tests__/logging.test.ts
Due: ultracite

infra: allow injectable logger factory
  docs/architecture.md
  docs/guides/getting-started.md
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
Due: ultracite, prettier

infra: expose injectable logger factory [CB-49] (#134)
  docs/architecture.md
  docs/guides/getting-started.md
  packages/hooks-core/src/logging/__tests__/logging.test.ts
  packages/hooks-core/src/logging/factory.ts
Due: ultracite, prettier

style: apply formatting
  packages/protocol/src/protocols/test.ts
Due: ultracite

fix(protocol): align HTTP protocol test with Claude SDK v2
  tests/spec/protocol-http.test.ts
Due: ultracite

fix: re-export process executeHook for backwards compatibility
  packages/execution/src/index.ts
Due: ultracite

test: ensure session contexts parse in fixtures
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/timeout.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/timeout.ts
  packages/protocol/src/protocols/test.ts
  tests/spec/execution-process.test.ts
  tests/spec/protocol-http.test.ts
Due: ultracite

test: expand fixtures for session coverage [CB-50] (#135)
  packages/execution/src/__tests__/executor.test.ts
  packages/execution/src/__tests__/timeout.test.ts
  packages/execution/src/executor.ts
  packages/execution/src/index.ts
  packages/execution/src/timeout.ts
  packages/protocol/src/protocols/test.ts
  tests/spec/execution-process.test.ts
  tests/spec/protocol-http.test.ts
Due: ultracite

docs: document custom logger factory override
  .agents/notes/logger-and-tests-plan.md
  docs/architecture.md
Due: prettier

docs: document custom logger factory override [CB-51] (#136)
  .agents/notes/logger-and-tests-plan.md
  docs/architecture.md
Due: prettier

devx: run lint command via lefthook
  .agents/notes/logger-and-tests-plan.md
  lefthook.yml
Due: prettier

devx: run ultracite check on full tree during pre-push
  lefthook.yml
Due: none

devx: enforce linting via lefthook [CB-52] (#137)
  .agents/notes/logger-and-tests-plan.md
  lefthook.yml
Due: prettier

docs: capture fixture progress
  .agents/notes/logger-and-tests-plan.md
  AGENTS.md
Due: prettier

style: use Object.hasOwn() instead of hasOwnProperty.call()
  packages/execution/src/executor.ts
Due: ultracite

docs: capture logger fixture progress [CB-53] (#138)
  .agents/notes/logger-and-tests-plan.md
  AGENTS.md
  packages/execution/src/executor.ts
Due: ultracite, prettier

fix: make timing middleware test more tolerant in CI
  packages/hooks-core/src/__tests__/builder.test.ts
Due: ultracite

fix: make timing middleware test more tolerant in CI (#144)
  packages/hooks-core/src/__tests__/builder.test.ts
Due: ultracite

chore: remove coverage outputs from test task in turbo.json
  turbo.json
Due: none

chore: remove coverage outputs from test task in turbo.json (#145)
  turbo.json
Due: none

Path conditions:
  ultracite: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{astro,md,json,yml,yaml}
  stylelint: any of: **/*.{css,pcss}
