Repository outfitter-dev/carabiner: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, prettier, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: "bunx ultracite format {staged_files}"
    prettier:
      glob: "**/*.{astro,md,json,yml,yaml}"
      run: "bunx prettier --write {staged_files}"
    stylelint:
      glob: "**/*.{css,pcss}"
      run: "bunx stylelint --fix {staged_files}"

pre-push:
  parallel: true
  commands:
    build:
      run: "bun run build"
    typecheck:
      run: "bun run typecheck"
    test:
      tags: [optional]
      run: "bun run test"

ci(build-binaries): ensure Verify CLI dependencies uses bash on Windows
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  packages/execution/package.json
  packages/hooks-core/package.json
  packages/hooks-registry/package.json
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: apply additional formatting fixes to packages and configs
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-core/src/builder.ts
Due: ultracite

fix(ci): correct package name in build-binaries.yml and update labeler.yml with all packages
  .github/labeler.yml
  bun.lock
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
  packages/execution/package.json
  packages/registry/tsconfig.json
Due: ultracite, prettier

fix: update workflow references from @outfitter to @carabiner
  .github/workflows/release.yml
Due: prettier

fix(ci): resolve test failures and bundle size analysis issues
  .github/workflows/pr-optimized.yml
Due: prettier

ci: tolerate dependency-review failures (continue-on-error) to unblock PR checks
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-core/src/builder.ts
Due: ultracite

chore: add .conductor/ to .gitignore for monorepo workspace (#55)
  packages/hooks-cli/src/commands/init.ts
  packages/hooks-cli/src/commands/validate.ts
  packages/hooks-core/src/builder.ts
Due: ultracite

fix: update bun lockfile to resolve CI failures
  bun.lock
Due: none

chore: update dependencies to latest versions
  bun.lock
  package.json
Due: none

ci: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite, prettier

fix: add DOM types to tsconfig for AbortController support
  packages/registry/src/config.ts
  packages/registry/src/loader.ts
  packages/registry/tsconfig.build.json
  packages/registry/tsconfig.json
  tsconfig.json
Due: ultracite, prettier

chore: update biome config to v2.2.4
  biome.json
  packages/examples/src/auto-formatter.ts
  packages/examples/src/git-safety.ts
  packages/examples/src/security-guard.ts
Due: ultracite

fix: core runtime and CLI improvements for v0.1
  packages/hooks-core/package.json
Due: prettier

feat: add example hooks and implementation patterns
  packages/examples/README.md
Due: prettier

feat: enhance plugin system architecture
  packages/plugins/README.md
  packages/plugins/package.json
Due: prettier

docs: comprehensive documentation update for v0.1 release
  docs/binary-distribution.md
Due: prettier

test: establish comprehensive testing infrastructure
  packages/hooks-testing/package.json
Due: prettier

chore: prepare v0.1.0-alpha release - npm config and getting started docs
  GETTING-STARTED.md
  docs/binary-distribution.md
Due: prettier

fix: remove custom CodeQL setup to use GitHub default instead
  .github/workflows/ci-optimized.yml
Due: prettier

fix: implement comprehensive PR #86 review feedback
  .biomeignore
  .carabiner/README.md
  .github/workflows/release.yml
  .gitignore
  .markdownlint-cli2.jsonc
  .syncpackrc.json
  README.md
  biome.json
  bun.lock
  docs/QUICKSTART.md
  docs/SANDBOX.md
  docs/registry/README.md
  package.json
  packages/examples/README.md
  packages/hooks-cli/bin/carabiner.mjs
  packages/hooks-cli/bin/carabiner.ts
  packages/hooks-cli/package.json
  packages/hooks-cli/src/commands/add.ts
  packages/hooks-cli/src/commands/browse.ts
  packages/hooks-cli/src/commands/publish.ts
  packages/hooks-cli/src/commands/run.ts
  packages/hooks-cli/src/help.ts
  packages/hooks-cli/src/types/manifest.ts
  packages/hooks-testing/src/index.ts
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: address additional CodeRabbit nitpick comments
  packages/hooks-cli/src/commands/add.ts
Due: ultracite

fix: make performance tests more tolerant in CI environments
  tests/performance/benchmarks.test.ts
Due: ultracite

Apply suggestions from code review
  .github/workflows/release.yml
  packages/hooks-cli/src/commands/publish.ts
Due: ultracite, prettier

fix: resolve PR review feedback for PR #86
  .sandbox/README.md
  .sandbox/runner.ts
  packages/hooks-cli/src/commands/publish.ts
  tests/performance/benchmarks.test.ts
Due: ultracite, prettier

fix: resolve PR review feedback for PR #86
  packages/hooks-cli/src/commands/publish.ts
Due: ultracite

feat: add CLI, hook registry, and local hook support (#86)
  .biomeignore
  .carabiner/README.md
  .github/workflows/release.yml
  .gitignore
  .markdownlint-cli2.jsonc
  .sandbox/README.md
  .sandbox/runner.ts
  .syncpackrc.json
  README.md
  biome.json
  bun.lock
  docs/QUICKSTART.md
  docs/SANDBOX.md
  docs/registry/README.md
  package.json
  packages/examples/README.md
  packages/hooks-cli/bin/carabiner.mjs
  packages/hooks-cli/bin/carabiner.ts
  packages/hooks-cli/package.json
  packages/hooks-cli/src/commands/add.ts
  packages/hooks-cli/src/commands/browse.ts
  packages/hooks-cli/src/commands/publish.ts
  packages/hooks-cli/src/commands/run.ts
  packages/hooks-cli/src/help.ts
  packages/hooks-cli/src/types/manifest.ts
  packages/hooks-testing/src/index.ts
  tests/performance/benchmarks.test.ts
  tests/production/production-scenarios.test.ts
Due: ultracite, prettier

fix: remove legacy @grapple and @outfitter references
  .github/workflows/release.yml
  packages/hooks-core/src/index.ts
  packages/hooks-testing/src/index.ts
  packages/types/src/index.ts
Due: ultracite, prettier

fix: remove legacy @grapple and @outfitter references (#84)
  .github/workflows/release.yml
  packages/hooks-core/src/index.ts
  packages/hooks-testing/src/index.ts
  packages/types/src/index.ts
Due: ultracite, prettier

fix: address PR review nitpicks for package metadata consistency
  .syncpackrc.json
  packages/error-management/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/protocol/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: prettier

feat: add comprehensive package metadata for npm discoverability (#89)
  .syncpackrc.json
  packages/error-management/package.json
  packages/execution/package.json
  packages/hooks-cli/package.json
  packages/hooks-config/package.json
  packages/hooks-core/package.json
  packages/hooks-testing/package.json
  packages/hooks-validators/package.json
  packages/protocol/package.json
  packages/schemas/package.json
  packages/types/package.json
Due: prettier
